#snap{
 border-color:crimson ;
 border-radius: 5px;   
 border-width: 4px;
 border-style: ridge;
}
h3{font-size: 25px !important;
font-weight: bold;}

.btn-primary:hover{background-color: green;}

canvas{
    animation-name:example;
animation-duration: 4s;
animation-iteration-count: infinite;}

@keyframes example{
from{box-shadow: 1px 1px 38px green;}

to{
   box-shadow: 1px 1px 38px orange; 
}
}
